@font-face {
    font-family: mainFont;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
    margin: 0;
    padding: 0;
    font-weight: bold;
}

:root{
    /* --dark-main-color: rgb(143, 163, 89);
    --light-main-color: rgb(168, 168, 168);
    --medium-main-color: rgb(184, 115, 51); */
    --dark-main-color: rgb(0, 46, 130);
    --dark-secondary-color: rgb(13, 53, 128);
    --light-main-color: rgb(212, 217, 227);
    --light-blue: rgb(189, 202, 225);
    --medium-main-color: rgb(189, 202, 225);
    --dark-text: black;
    --light-text: white;

    --transparent-bg: rgba(0, 0, 0, 0.573);
    --error-color: rgb(211, 54, 54);
}

body{
    margin: 0;
    padding: 0;
    font-family: mainFont, Verdana;
    overflow: hidden;
}
*{
    font-family: mainFont, Verdana;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#navbar{
    /* position: ; */
    top:0;
    width: 100%;
    height: 60px;
    background-color: var(--dark-main-color);
}
#editor{
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    grid-template-rows: 1fr 60px 200px;
    /* gap: 5px; */
    height: calc(100vh - 60px);
    grid-template-areas: 
    'code-editor board object-panel'
    'code-editor puzzle-settings object-panel'
    'code-editor object-settings object-panel';
    margin: 0;
    padding: 0;
}
.grid-item{
    background-color: var(--light-main-color);
    /* margin: 5px; */
    border: 1px solid black;
}
.grid-puzzle-settings{
    grid-area: puzzle-settings;
    background-color: var(--dark-secondary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.grid-code-editor{
    grid-area: code-editor;
}
.grid-board{
    grid-area: board;
}
.grid-object-settings{
    grid-area: object-settings;
    background-color: var(--light-main-color);
    display: flex;
    justify-content: space-between;
}
.grid-object-panel{
    grid-area: object-panel;
    background-color: var(--light-main-color);
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    user-select: none;
}

/* ========================= OBJECT PANEL ============================== */

.object-panel-controls{
    background-color: var(--dark-secondary-color);
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
.objec-table-container{
    height: 100%;
    overflow: scroll;
}
.object-table{
    width: 100%;
    flex: 1;
    border-collapse: collapse;
}
.object-table tr{
    cursor: pointer;
}
.object-table tr:hover{
    background-color: var(--medium-main-color);
}
.object-table td{
    min-width: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
/* .object-table td img{
} */
.selected-object{
    background-color: white;
    color: black;
}

/* ============================ OBJECT SETTINGS ================================ */

.object-fields{
    min-width: 200px;
    padding: 0.4em;
}
.object-fields table{
    width: 100%;
    margin: 0;
    padding: 0;
}
.object-fields input{
    background-color: white;
    /* border: 1px black solid; */
    border: none;
    border-radius: 100px;
    padding-left: 0.5em;
    /* border: none; */
    /* outline: none; */
}

#direction-input-element{
    background-color: white;
    border-radius: 100px;width: 100%;
    /* border: 1px solid black; */
    border: none;
    padding-left: 0.5em;
}
/* .object-fields table input{
    
} */
.costume-preview{
    /* background-color: yellow; */
    width: 200px;
    height: 100%;
    cursor: pointer;
}
.costume-preview img {
    height: 100%;
}
.object-name-input{
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 0.2em;
}

/* .object-fields select{
    background-color: transparent;
    border: none;
}  */

.costume-picker-window{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--transparent-bg);
    width: 100%;
    height: 100%;
    z-index: 200;
}
.costume-picker-panel{
    
    width: calc(100% - 20em);
    height: calc(100% - 10em);
    background-color: var(--light-main-color);
    color: var(--dark-text);
    margin: 5em 10em;
    display: flex;
    flex-direction: column;
}
.costume-picker-control-bar{
    /* width: 100%; */
    position: relative;
    display: flex;
    /* justify-content:space-between; */
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: var(--dark-main-color);
    color: var(--light-text);
    font-size: 1.2em;
    /* height: fit-content; */
    /* flex: 1; */
}
.costume-picker-control-bar-item{
    flex: 1;
    /* height: 5em; */

    /* background-color: orange; */
    height: auto;
    text-align: center;
}

.costume-picker-close{
    text-align: right;
}
.costume-picker-label{
    text-align: left;
    margin-left: 1em;
}
.costume-picker-filter{
    background-color: var(--light-main-color);
    border: none;
    /* border: 1px --dark-main-color solid; */
    border-radius: 100px;
    font-size: 1em;
    padding-left: 0.5em;
}
.costume-picker-costume-container{
    overflow: scroll;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex: 1;
}
.costume-picker-costume-container img{
    height: 12em;
}
.costume-list-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
a{
    cursor: pointer;
}

.nonselect-element{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

/*========================== CONTROL PANEL ============================*/
#control-panel-puzzle-name, #game-control-panel-puzzle-name{
    color: white;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 450px;
    margin-left: 0.5em;
}
.control-panel-controls{
    display: flex;
    flex-wrap: nowrap;
    word-wrap: none;
}

.puzzle-settings-container{
    display: flex;
    padding: 1em;
    height: 100%;
    overflow: hidden;
}
.puzzle-settings-fields{
    flex: 1;
}
.puzzle-settings-fields input{
    border-radius: 100px;
    border: none;
    padding-left: 0.5em;
}
.puzzle-settings-blocks{
    flex: 1;
}
.puzzle-settings-blocks div{
    height: 100%;
    overflow-y: scroll;
}
.puzzle-settings-blocks ul{
    margin-left: 2em;
    list-style: none;

}
.puzzle-settings-blocks li{
    display: list-item;

}
.puzzle-settings-blocks input, label{
    cursor: pointer;
    margin: 0.3em;
}
/* ====================================================================== */
/* ================================ GAME ================================ */
/* ====================================================================== */
#game{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px 200px;
    /* gap: 5px; */
    height: calc(100vh - 60px);
    grid-template-areas: 
    'code-editor board'
    'code-editor puzzle-settings'
    'code-editor object-settings';
    margin: 0;
    padding: 0;
}
.game-object-list-wrapper{
    /* display: flex; */
    /* overflow-x: scroll; */
    /* background-color: orange; */
    width: 100%;
    display: flex;
}
.game-object-list-container{
    display: flex;
    white-space:nowrap;
    overflow-x: scroll;
    width: 0;
    flex: 1;
    overflow-y: hidden;
    /* justify-content: space-around; */
}
.game-object-list-container img{
    margin: 0 1em;
    height: 100%;
    filter: drop-shadow(0 0 4px blue);
}

/* ======================= NOTIFICATIONS ======================= */

.notif-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-bg);
    z-index: 100;
}

.notif-window{
    width: 60%;
    height: 20rem;
    background-color: var(--light-main-color);
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
}

.notif-header{
    flex: 1;
    background-color: var(--dark-main-color);
    display: flex;
    flex-direction: row-reverse;
}
.notif-header img{
    height: 2.5rem;
    margin: auto;
}
.notif-message-container{
    flex: 4;
    display: flex;
    align-items: center;
    margin: 2rem;
    text-align: center;
}
.notif-color{
    flex: 0.1;
    background-color: red;
}
.notif-button-container{
    flex: 1;
    background-color: var(--dark-main-color);
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
    align-items: center;
}

.notif-button{
    border: none;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: var(--light-main-color);
    cursor: pointer;
}
/* #notif-placeholder{

} */
.notif-button:hover{
    background-color: var(--light-blue);
}


#loading-puzzle-element{
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.platform-placeholder{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#platform-navbar{
    height: 4rem;
    width: 100%;
    background-color: var(--dark-main-color);
}
.platform-body{
    flex: 1;
    display: flex;
}
#platform-sidebar{
    background-color: var(--dark-secondary-color);
    width: 15rem;
}
#platform-puzzle-list{
    flex: 1;
    background-color: var(--light-main-color);
}
.platform-navbar-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
    color: var(--light-main-color);
}

.platform-bar{
    display: flex;
    align-items: center;
}
.platform-bar * {
    margin: 0 0.5rem;
}

.platform-btn{
    background-color: var(--light-blue);
    border-radius: 100rem;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}
.platform-btn:hover{
    color: var(--light-main-color);
    background-color: var(--dark-main-color);
    outline: 2px solid var(--light-main-color);
}
.platform-title{
    font-size: 3rem;
}

.dialogue-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-bg);
}
.dialogue-header{
    background-color: var(--dark-main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem 1rem 0 0;
}
.dialogue-header>* {
    margin: 0 1rem;
    color: var(--light-main-color);
}
.dialogue-body{
    padding: 0.5rem;
    background-color: var(--light-main-color);
}
.dialogue-body p {
    margin-bottom: 1rem;
}
input {
    border-radius: 100rem;
    border: none;
    padding: 0.4rem;
}
.dialogue-footer{
    background-color: var(--dark-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 1rem 1rem;
    padding: 0.5rem;
}
.error-baner{
    background-color: var(--light-main-color);
    padding: 0.5rem;
    color: var(--error-color);
}
.platform-sidebar-btn{
    background-color: var(--light-blue);
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-right: 1rem;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
}
.platform-sidebar-btn:hover{
    background-color: var(--dark-main-color);
    color: var(--light-blue);
    outline: solid 2px var(--light-main-color);
}
#platform-puzzle-list{
    display: flex;
    justify-content: center;
}
.puzzle-list-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: fit-content;
}
.puzzle-list-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.align-right{
    display: flex;
    width: 100%;
    justify-content: right;
}
.align-center{
    display: flex;
    width: 100%;
    justify-content: center;
}
.puzzle-list-header *{
    /* float:right; */
    margin-top: 0.5rem;
}
.puzzle-list-header input{
    outline: 2px solid var(--dark-main-color);
}
.puzzle-list-load-more-btn{
    margin-top: 0.5rem;
}
/* .puzzle-list-create-btn{
    width:fit-content;
} */
.puzzle-list-body-container{
    flex: 1;
}

.puzzle-list-item{
    background-color: var(--dark-main-color);
    color: var(--light-main-color);
    display: flex;
    border-radius: 1rem;
    margin-top: 1rem;
}
.puzzle-list-item img{
    height: 8rem;
    border-radius: 1rem;
}
.puzzle-list-item-action-bar{
    display: flex;
    flex-direction: column;
    /* background-color: var(--dark-main-color); */
    justify-content: center;
    margin-right: 0.5rem;
}
.puzzle-list-item-action-bar img{
    height: 2.5rem;
    cursor: pointer;
    margin: 0.1rem;
}
.puzzle-list-preview-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.puzzle-list-item-info{
    padding: 0.5rem;
    min-width: 15rem;
}
.puzzle-list-item-info p {
    margin: 0.2rem;
}
.puzzle-list-empty-label{
    padding: 1rem;
    background-color: var(--dark-main-color);
    border-radius: 1rem;
    color: var(--light-main-color);
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.puzzle-list-item-name{
    font-size: 1.5rem;
}

.dark-btn{
    background-color: var(--dark-main-color);
    color: var(--light-main-color);
}
.dark-btn:hover{
    background-color: var(--light-main-color);
    color: var(--dark-main-color);
    outline: 2px solid var(--dark-main-color);
}